@{
    ViewData["Title"] = "Contact";
}
@* <h1>@ViewData["Title"]</h1> *@

<center><h2 style="background-color:lightpink;">Contact Us</h2></center>
<h5>
<table>
    <tr>
        <td><img class="img-fluid" src="../UserTemplate/img/product-7.jpg" alt="" height="450"></td>
        <td>
            <p>Get In Touch</p>
            
                <p>Have questions or need help with your order? Our friendly support team is here to assist you! Contact us and we'll get back to you as soon as possible. Your satisfaction is our top priority.</p>
                <p>Auckland Office : 28A Linwood Ave., Mt Albert, Auckland, New Zealand</p>
                <p>Email : <a href="mailto:info@efashion.co.nz">info@efashion.co.nz</a></p>
                <p>Tel : <a href="tel:+643456789">+64 345 6789</a></p>
        </td>
    </tr>
</table>
</h5>
