@{
    ViewData["Title"] = "E Fashion";
}

    <center>
        <h2 style="background-color:lightpink;">Shopping with us today !</h2>
    <table>
        <tr>
                <td><img src="/img/carousel-1.jpg" alt="Shopping Girl" height="200"></td>
                <td><img src="/img/carousel-2.jpg" alt="Shopping Girl" height="200"></td>
                <td><img src="/img/d5.jpg" alt="Shopping Girl" height="200"></td>
        </tr>

        <tr>
            <td><img class="img-fluid" src="/img/cat-1.jpg" alt="" width="250"></td>
            <td><img class="img-fluid" src="/img/cat2.jpg" alt="" width="250"></td>
            <td><img class="img-fluid" src="/img/cat3.jpg" alt="" width="250"></td>
        </tr>
        <tr>
            <td><img class="img-fluid" src="/img/cat4.jpg" alt="" width="250"></td>
            <td><img class="img-fluid" src="/img/cat5.jpg" alt="" width="250"></td>
            <td><img class="img-fluid" src="/img/cat6.jpg" alt="" width="250"></td>
        </tr>
    </table>
    </center>
    <h5>       
        <p>Auckland Office : 28A Linwood Ave., Mt Albert, Auckland, New Zealand</p>
        <p>Email : <a href="mailto:info@efashion.co.nz">info@efashion.co.nz</a></p>
        <p>Tel : <a href="tel:+643456789">+64 345 6789</a></p>
    </h5>          