@{
    ViewData["Title"] = "E Fashion";
}
    @model List<SAuthViewModel>

@* @foreach (var x in Model)
{
    <li>@x.Name</li>
} *@
    <center>
    <h2 style="background-color:lightpink;">Successful Logout.</h2>
    <p>Thank you for shopping with us!</p>
    <table>
        <tr>
                <td><img src="/img/carousel-1.jpg" alt="Shopping Girl" height="200"></td>
                <td><img src="/img/carousel-2.jpg" alt="Shopping Girl" height="200"></td>
                <td><img src="/img/d5.jpg" alt="Shopping Girl" height="200"></td>
        </tr>
    </table>
    </center>
    <h5>       
        <p>Auckland Office : 28A Linwood Ave., Mt Albert, Auckland, New Zealand</p>
        <p>Email : <a href="mailto:info@efashion.co.nz">info@efashion.co.nz</a></p>
        <p>Tel : <a href="tel:+643456789">+64 345 6789</a></p>
    </h5>          